* {
  margin: 0;
  padding: 0;
}

.show {
  list-style: none;
  float: left;
  margin: 10px;
}

footer {
  clear: both;
}

/* popup */
.popups {
  display: none;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(176, 216, 199);
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  min-width: 320px;
  overflow: auto;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  z-index: 1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
}

.Nav-bar {
  position: fixed;
  width: 100vw;
}

.Nav-bar h1 {
  line-height: 60px;
  background-color: #000;
  color: white;
  text-align: center;
}

.Headline {
  box-shadow: inset -300px 0 700px 10px #000;
  background-color: gray;
  padding: 0 30px;
  justify-content: space-between;
  height: 60vh;
}

.Headline-wrapper {
  height: 100%;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.Headline h2 {
  background-color: black;
  color: white;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin: auto 0;
}

#canvas {
  aspect-ratio: 5/3;
  height: auto !important;
  width: 40vw !important;
}
