* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h2,
h3 {
  width: fit-content;
  margin: 0;
}

body {
  background-color: #111;
}

/* Nav Bar */
nav {
  padding: 10px 50px;
  position: sticky;
  top: 0;
  padding-bottom: 50px;
  background-color: #111;
  box-shadow: 0 15px 20px 15px #111;
  z-index: 2;
}

.logo p {
  font-family: 'Grape Nuts', sans-serif;
  font-size: 30px;
  color: white;
  float: left;
}

.nav-icon {
  width: 40px;
  float: left;
}

/* Headline */
.headline {
  padding: 0 15vw;
  height: 60vh;
  box-shadow: inset 0 -100px 70px 60px #111;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -10vw;
}

.headline-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 90% top 0;
}

.headline-title {
  float: left;
  margin: auto 0;
  z-index: 1;
}

.headline-title p {
  color: #fff;
  display: table;
  background-color: rgb(180, 57, 57);
  padding: 0 10px;
  transform: translate(10px, 5px) rotate(-3deg);
}

.headline-title h2 {
  background-color: black;
  color: white;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin: auto 0;
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 1/3;
  height: 70% !important;
  width: auto !important;
  float: right;
  z-index: 0;
}

/* Filter */

.genreSearch {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.genreFilter {
  padding: 15px;
  display: none;
  background-color: rgb(24, 24, 24);
  border: 1px black solid;
  position: absolute;
  font-family: 'Raleway', sans-serif;
}

.filterFilm {
  padding: 10px;
  float: left;
}

.filterFilm input {
  cursor: pointer;
}

.filterSearch button {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  color: #fff;
  border: 1px solid rgb(179, 179, 179);
}

/* Films */
.filmsContainer {
  position: relative;
  box-shadow: 0 -60px 60px 20px #111;
  background-color: #111;
  color: #fff;
  z-index: 1;
  margin: 0 5vw;
}

.genre {
  overflow-x: scroll;
  margin-bottom: 50px;
}

.genre::-webkit-scrollbar {
  width: 1em;
}

.genre::-webkit-scrollbar-thumb {
  background: rgb(77, 76, 76);
}

.genre::-webkit-scrollbar-track {
  background: #111;
}

.genreWrapper h2 {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Arimo', sans-serif;
  padding: 5px 10px;
}

.film-list {
  width: max-content;
}

.film {
  border: rgb(75, 75, 75) solid 1px;
  border-radius: 5px;
  display: inline-block;
  width: 40vw;
  height: auto;
  overflow-y: hidden;
}

.film p {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
  font-size: 20px;
  color: rgb(170, 170, 170);
}

.like-wrapper {
  float: right;
}

.like-btn.liked {
  color: red;
}

.film-nav {
  padding: 5px 15px;
}

/* popup */
#popCont {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  min-width: 320px;
}

.close-icon {
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 2em;
}

.head-popup {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 50rem;
  width: 100%;
}

#info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60%;
  background: rgb(82, 80, 80);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 1) 100%);
  padding: 2em;
  margin: 0;
  gap: 2em;
  font-family: 'Abel', sans-serif;
  font-weight: lighter;
  font-size: small;
}

.pop-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.container h2 {
  margin-bottom: 1em;
}

.container ul {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 5rem;
  list-style: none;
  margin: 10px 0;
}

.film-comments {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.film-comments li {
  list-style-type: none;
  overflow-wrap: break-word;
  margin: 0;
}

.popups {
  display: none;
}

.display {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 90%;
  min-width: 320px;
  overflow: auto;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  z-index: 1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
}

/* form */
.film-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 70%;
}

.user-name {
  height: 2em;
  padding: 0.2em;
}

textarea {
  resize: none;
  height: 8rem;
  padding: 0.2em;
}

.submit-btn {
  background-color: white;
  color: black;
  width: 10em;
  height: 2em;
  border-radius: 5px;
  align-self: center;
}

button:active {
  background-color: #000;
  color: #fff;
}

/* footer */
footer {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background-color: #111;
  color: #fff;
  min-height: 20px;
  font-family: 'Abel', sans-serif;
}

.logo-cont {
  display: flex;
  align-items: center;
  font-family: 'Grape Nuts', sans-serif;
  font-size: x-large;
}

.license {
  float: left;
  width: 40vw;
  font-size: 12px;
}

.license p {
  margin: 10px 0;
}

.license .material-icons {
  color: #fff;
  padding: 7px;
  font-size: 25px;
}

.authors {
  display: flex;
  flex-direction: column;
  float: right;
  gap: 10px;
  width: fit-content;
  font-size: small;
}

.authors p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(83, 83, 83);
}

.author-link {
  margin: 0 7px;
  width: auto;
  height: 25px;
}

@media screen and (min-device-width: 768px) {
  nav {
    padding: 30px 20vw;
  }

  .film {
    width: 150px;
  }

  #canvas {
    margin-right: 20vw;
  }
}
