* {
  margin: 0;
  padding: 0;
}

.Nav-bar {
  position: fixed;
  width: 100vw;
}

.Nav-bar h1 {
  box-shadow: inset 0 50px 50px 0 rgba(0, 0, 0, 0.7);
  line-height: 60px;
  color: white;
  text-align: center;
}

.Headline {
  box-shadow: inset 0 -100px 150px 90px #111;
  background-size: contain;
  padding: 0 30px;
  justify-content: space-between;
  height: 60vh;
}

.Headline-wrapper {
  height: 100%;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

h2,
h3 {
  width: fit-content;
  margin: 0;
}

.Headline h2 {
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin: auto 0;
}

#canvas {
  aspect-ratio: 5/3;
  height: auto !important;
  width: 40vw !important;
}

.Main-content {
  box-shadow: 0 -40px 200px 50px #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #111;
}

.Main-content ul {
  margin: auto 0;
}

.show {
  list-style: none;
  float: left;
  margin: 10px;
}

.like-btn {
  cursor: pointer;
  color: gray;
}

.like-btn.liked {
  color: red;
}

/* popup */

.close-icon {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2em;
}

#popCont {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 -300px 70px 50px rgba(0, 0, 0, 0.85);
  color: rgb(255, 255, 89);
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#popCont .close-icon {
  color: #fff;
  margin-bottom: 20px;
}

#popCont .container {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 black;
  background-color: rgba(0, 0, 0, 0.7);
}

#popCont ul {
  list-style: none;
  margin: 10px 0;
}

.popups {
  display: none;
}

.display {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 90%;
  min-width: 320px;
  overflow: auto;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  z-index: 1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
}

.film-features {
  list-style-type: none;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 5rem;
}

.popCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* form */
.film-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  resize: none;
}

footer {
  clear: both;
}
