* {
  margin: 0;
  padding: 0;
}

.Nav-bar {
  box-shadow: inset 0 50px 20px 30px #111;
  z-index: 999;
  position: fixed;
  width: 100vw;
  padding-bottom: 50px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Nav-bar h1 {
  font-family: 'Grape Nuts', sans-serif;
  font-size: 50px;
  line-height: 60px;
  color: white;
  text-align: center;
}

.logo-header {
  width: 60px;
}

.Headline {
  box-shadow: inset 0 -100px 150px 50px #111;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -10vw;
  padding: 0 30px;
  padding-top: 20px;
  justify-content: space-between;
  height: 60vh;
}

.Headline-wrapper {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5vw center;
  height: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

h2,
h3 {
  width: fit-content;
  margin: 0;
}

.Headline-title {
  margin: auto 0;
}

.Headline-title p {
  color: #fff;
  display: table;
  background-color: rgb(180, 57, 57);
  padding: 0 10px;
  transform: translate(10px, 5px) rotate(-3deg);
}

.Headline-title h2 {
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin: auto 0;
}

#canvas {
  aspect-ratio: 1/2;
  height: auto !important;
  width: 40vw !important;
}

.Main-content {
  position: relative;
  box-shadow: 0 -60px 60px 20px #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #111;
  padding: 0 5vw;
}

/* shows */
.films-title {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.shows {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 7px;
  padding-bottom: 10vh;
}

.show {
  border: rgb(75, 75, 75) solid 1px;
  border-radius: 5px;
  list-style: none;
  margin: 15px auto;
  box-shadow: 5px 5px 5px 0 #000;
}

.show img {
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.show p {
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
}

.material-icons {
  cursor: pointer;
  font-size: 20px;
  color: rgb(170, 170, 170);
}

.like-wrapper {
  float: right;
}

.like-btn.liked {
  color: red;
}

.film-nav {
  padding: 5px 15px;
}

/* popup */
#popCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  min-width: 320px;
}

.close-icon {
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 2em;
}

.head-popup {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 50rem;
  width: 100%;
}

#info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60%;
  background: rgb(82, 80, 80);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 1) 100%);
  padding: 2em;
  margin: 0;
  gap: 2em;
  font-family: 'Abel', sans-serif;
  font-weight: lighter;
  font-size: small;
}

.pop-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.container h2 {
  margin-bottom: 1em;
}

.container ul {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 5rem;
  list-style: none;
  margin: 10px 0;
}

.film-comments {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.film-comments li {
  list-style-type: none;
  overflow-wrap: break-word;
  margin: 0;
}

.popups {
  display: none;
}

.display {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 90%;
  min-width: 320px;
  overflow: auto;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  z-index: 1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
}

/* form */
.film-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 70%;
}

input {
  height: 2em;
  padding: 0.2em;
}

textarea {
  resize: none;
  height: 8rem;
  padding: 0.2em;
}

.submit-btn {
  background-color: white;
  color: black;
  width: 10em;
  height: 2em;
  border-radius: 5px;
  align-self: center;
}

button:active {
  background-color: #000;
  color: #fff;
}

/* footer */
footer {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background-color: #111;
  color: #fff;
  min-height: 20px;
  font-family: 'Abel', sans-serif;
}

.logo-cont {
  display: flex;
  align-items: center;
  font-family: 'Grape Nuts', sans-serif;
  font-size: x-large;
}

.logo {
  width: 50px;
  margin: 0;
}

.license {
  float: left;
  width: 40vw;
  font-size: 12px;
}

.license p {
  margin: 10px 0;
}

.license .material-icons {
  color: #fff;
  padding: 7px;
  font-size: 25px;
}

.authors {
  display: flex;
  flex-direction: column;
  float: right;
  gap: 10px;
  width: fit-content;
  font-size: small;
}

.authors p {
  display: flex;
  align-items: center;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(83, 83, 83);
}

.author-link {
  margin: 0 7px;
  width: auto;
  height: 25px;
}
